@model List<eSektorEntities.Task>

@{
	ViewBag.Title = "MemebersTask";
}

<link href="~/Content/_PartialCard.css" rel="stylesheet" />

<div class="row">
	@foreach (var memebersTasks in Model)
	{
	<div class="card" style="width: 30rem;">
		<div class="card-body">
			<h3 class="card-title">@memebersTasks.TaskTitle</h3>
			<p class="card-text">@memebersTasks.Description</p>
			<a href="/Offer/GetTasksOffers/?id=@memebersTasks.TaskId" class="btn btn-danger">Teklifleri Gör</a>
		</div>

	</div>
	}	
	</div>



