

	<div class="container-fluid" id="cntDiv">
		<div class="row mt-5 justify-content-center" id="btngrp">
			<div class="col-12">
				<div class="btn-group" role="group" aria-label="Basic example">
					@Html.ActionLink("Teklif Ver", "GetTasks", "Task", null, new { @class = "btn btn-danger btn-lg" })
					@Html.ActionLink("İlana Çık", "GetTasks", "Task", null, new { @class = "btn btn-danger btn-lg" })
				</div>

			</div>
		</div>
	</div>
<style>
	#cntDiv {
		height : 650px;
		background-image: url('../../fonts/bump-collaboration-colleagues-1068523.jpg');
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
		text-align:center;
	}
	#btngrp{
		position:relative;
		top:50%;
	}
	
</style>














