@using eSektorEntities
@model List<Speciality>

@foreach (var speciality in Model)
{
	<a href="/Task/GetTasksId/?id=@speciality.SpecialityId" class="list-group-item list-group-item-action">@speciality.Name</a>
}
